<tr class="{CSS_ROW}">
	<td class="std"><input type="checkbox" value="{VAL_ID}" name="{ID_COL}" /></td>
	<td class="std">
		<input style="text-align:right;" size="3" id="{VAL_ORDER_ID"
			   maxlength="4" name="{VAL_ORDER_ID}" value="{VAL_ORDERING}" type="text" />
	</td>
	<td class="std">{OBJECT_TITLE}</td>
	<td class="std">{OBJECT_INFO}</td><!-- BEGIN object_img_path -->
	<td class="std"><img src="./templates/default/images/standard/{OBJECT_IMG_PATH}" /></td><!-- END object_img_path -->
</tr>

