<tr class="{CSS_ROW}">
	<td class="std">{TEST_PARTICIPANT_FIRSTNAME}</td>
	<td class="std">{TEST_PARTICIPANT_LASTNAME}</td>
	<td class="std">{TEST_LOGIN}</td>
	<!-- BEGIN cell -->
	<td class="std result">
		<!-- BEGIN result -->
		<a href="{RESULT_LINK}" class="result {RESULT_CSSCLASS}">{RESULT_VALUE}</a>
		<!-- END result -->
		<!-- BEGIN result_nolink -->
		<div class="result {RESULT_CSSCLASS_NOLINK}">{RESULT_VALUE_NOLINK}</div>
		<!-- END result_nolink -->
	</td>
	<!-- END cell -->
	<!-- BEGIN sum -->
	<td class="std">{SUM_VALUE}</td>
	<!-- END sum -->
	<!-- BEGIN points -->
	<td class="std">{POINTS_VALUE}</td>
	<!-- END points -->
	<!-- BEGIN avg -->
	<td class="std">{AVG_VALUE}</td>
	<!-- END avg -->
</tr>
