.result-col {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	
	vertical-align: middle;
}

.no-result {
	background: #999;
	color: #000;
}

.red-result {
	background: #f00;
	color: #fff;
}

.orange-result {
	background: #c30;
	color: #fff;
}

.green-result {
	background: #0c0;
	color: #000;
}

.no-perm-result {
	background: #ddd;
	color: #aaa;
}
